*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsla(30, 18%, 87%, 1);
  --stone-600: hsl(30, 10%, 34%);
  --stone-700: hsla(30, 11%, 34%, 1);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsla(14, 45%, 36%, 1);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsla(330, 100%, 98%, 1);
  /* Fonts */
  --font-primary: "Figtree", serif;
  --font-inter: "Inter", serif;
  --font-young-serif: "Young Serif", serif;
  --font-outfit: "Outfit", serif;
}

html,
body {
  scroll-behavior: smooth;
  background: var(--stone-100);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
ul,
ol {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16px;
  size: 4px;
}
ul li,
ol li {
  color: var(--stone-700);
  font-family: var(--font-outfit);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 8px 0;
}
li span,
li span {
  padding-left: 16px;
  color: var(--stone-700);
  font-family: var(--font-outfit);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
li strong {
  margin-left: 16px;
}
li img {
  padding-left: 8px;
}
img {
  max-width: 100%;
}
section {
  margin: 32px 0px;
}
section h2 {
  font-family: var(--font-young-serif);
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}

/* Card */
.container {
  max-width: 1100px;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 736px;
  height: 1708px;
  background: var(--white);
  margin: 123px 352px 124px 352px;
  padding: 40px;
  text-align: left;
  border-radius: 24px;
}
.image {
  display: block;
  width: 656px;
  height: 300px;
  border-radius: 12px;
}

.title {
  margin-top: 40px;
  font-family: var(--font-young-serif);
  color: var(--stone-900);
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0%;
}
.introduction-text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: var(--stone-700);
  font-family: var(--font-outfit);
}
/* Preparation */
.preparation {
  background: var(--rose-50);
  padding: 28px;
  border-radius: 12px;
}
.preparation h3 {
  color: var(--rose-800);
  font-family: var(--font-outfit);
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
.preparation ul {
  margin-top: 16px 0;
  size: 4px;
}

.preparation strong {
  font-weight: 700;
  color: var(--stone-600);
}
.preparation li {
  display: flex;
  justify-content: center;
}
/* Ingredients */

.ingredients h2,
.instructions h2,
.nutrition h2 {
  color: var(--brown-800);
}
.ingredients ul {
  margin-top: 24px;
}
.ingredients li {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 32px;
  color: var(--stone-150);
}
/* Instructions */

.instructions ol {
  margin-left: 8px;
  margin-top: 24px;
}
.instructions ol li {
  margin-top: 0px;
  padding-left: 16px;
  margin-left: 8px;
}
.instructions ol li strong {
  margin-left: 0;
}
.instructions ol li::marker {
  padding-left: 8px;
}
/* Nutrition */
.nutrition p {
  margin: 24px 0px;
  color: var(--stone-700);
  font-family: var(--font-outfit);
}
/* Table */

tr td {
  margin-bottom: 12px;
  border-bottom: 1px solid var(--stone-150);
  width: 288px;
  height: 24px;
}

.nutrition-name {
  font-family: var(--font-outfit);
  font-weight: 400;
  font-size: 16px;
  color: var(--stone-700);
  padding-top: 12px;
  padding-left: 32px;
  text-align: left;
}
.value {
  padding-top: 12px;
  padding-right: 32px;
  padding-left: 16px;
  font-family: var(--font-outfit);
  font-weight: 700;
  font-size: 16px;
  color: var(--brown-800);
  text-align: start;
}
.calories {
  margin-top: 0px;
  padding-top: 0px;
}
.fat {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* Media Queries */
@media (max-width: 375px) {
  .card {
    width: 375px;
    height: 2043px;
    padding: 0;
    margin: 0;
  }
  .image {
    width: 100%;
    height: 171px;
  }
  .content {
    padding: 40px 32px;
    margin: 0;
  }

  h1,
  h2,
  h3 {
    margin: 0;
  }
  section {
    margin: 32px 0;
  }

  .title {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
  }
  .preparation {
    padding: 24px;
  }
  .prep-first {
    margin-top: 0;
  }
}
